<?xml version="1.0" ?>
<model>
    <name>pelota</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Antonio</name>
        <email>alopez@cua.uam.mx</email>
    </author>
    <description>Una pelota para que la tome un brazo robótico</description>
</model>
